In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('gender_classification.csv')
df.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [3]:
df.shape

(5001, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   int64
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   int64
 4   nose_long                  5001 non-null   int64
 5   lips_thin                  5001 non-null   int64
 6   distance_nose_to_lip_long  5001 non-null   int64
 7   gender                     5001 non-null   object
dtypes: float64(2), int64(5), object(1)
memory usage: 312.7+ KB

In [5]:
df.describe()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
count,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000
mean,0.869626,13.181484,5.946311,0.493901,0.507898,0.493101,0.498900
std,0.336748,1.107128,0.541268,0.500013,0.499988,0.500002,0.500049
min,0.000000,11.400000,5.100000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,12.200000,5.500000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,13.100000,5.900000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,14.000000,6.400000,1.000000,1.000000,1.000000,1.000000
max,1.000000,15.500000,7.100000,1.000000,1.000000,1.000000,1.000000

In [6]:
df.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   int64
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   int64
 4   nose_long                  5001 non-null   int64
 5   lips_thin                  5001 non-null   int64
 6   distance_nose_to_lip_long  5001 non-null   int64
 7   gender                     5001 non-null   object
dtypes: float64(2), int64(5), object(1)
memory usage: 312.7+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
df['gender'] = le.fit_transform(df['gender'])

In [10]:
x = df.drop('gender', axis=1)

In [11]:
y= df['gender']

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [13]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()
lg.fit(x_train, y_train)

LogisticRegression()

In [14]:
y_pred = lg.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
lg.score(x_train,y_train)

0.9685333333333334

In [17]:
accuracy_score(y_test,y_pred)

0.9672262190247801

In [18]:
from sklearn.tree import DecisionTreeClassifier
dc = DecisionTreeClassifier(max_depth=4, max_features='sqrt')
dc.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=4, max_features='sqrt')

In [19]:
y_pred2 = lg.predict(x_test)

In [20]:
accuracy_score(y_pred2,y_test)

0.9672262190247801

In [21]:
dc.score(x_train,y_train)

0.9368

In [22]:
from sklearn.metrics import confusion_matrix

In [23]:
confusion_matrix(y_test,y_pred)

array([[622,  20],
       [ 21, 588]], dtype=int64)

In [24]:
from sklearn.ensemble import RandomForestClassifier
rdd = RandomForestClassifier(criterion = 'gini',n_estimators=70,max_depth=4,random_state=0)

In [25]:
rdd.fit(x_train,y_train)

RandomForestClassifier(max_depth=4, n_estimators=70, random_state=0)

In [26]:
y_pred3 = rdd.predict(x_test)

In [27]:
rdd.score(x_train,y_train)

0.9770666666666666

In [28]:
rdd.score(x_test,y_test)

0.9672262190247801

In [29]:
accuracy_score(y_test,y_pred3)

0.9672262190247801

In [30]:
parameter = {
    'criterion': ['gini', 'entropy'],
    'n_estimators': [10,40,50,70],
    'max_depth': [1,2,3,4,5,6,7],
    
}

In [31]:
from sklearn.model_selection import GridSearchCV

In [32]:
clf =GridSearchCV(rdd, parameter, cv=6)

In [38]:
from sklearn.svm import SVC

model = SVC(kernel='linear') 
model.fit(x_train,y_train)
preds = model.predict(x_test)
accuracy_score(y_test, preds)

0.9632294164668266

In [ ]:
# Saving the trained model

In [39]:
import pickle

In [49]:
filename = 'trained_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [50]:
#Loading the saved model
load_model = pickle.load(open('trained_model.sav', 'rb'))

In [51]:
input_data = (1,11.8,6.1,1,0,1,1)
# changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = load_model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('The person is female')
else:
    print('THe person is male')

[1]
THe person is male

C:\Users\Trainer\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(